@charset "utf-8";
/* PC用CSS */
@media print, screen and (min-width: 640px) {
/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}

body {
	background-color:#aa0505;	/*ページ全体の背景色*/
	/* background-image:url("images/bg_body.png");	 *//*ウェブページ全体の背景画像*/
	font-size:95%;			/* フォントサイズを95%にする */
	font-family: "ＭＳ ゴシック",sans-serif;	/* フォントの種類をゴシック系にする */
	line-height:1.5;		/* 行の高さを1.5倍にする */
	color:#333333;			/* 文字色を濃い目のグレーにする */
	
}
#pagebody {
	width:1000px; margin: auto;			/*内容全体をセンタリング*/
	background-color:#ffffff;			/*内容全体の背景色*/
	height: 100vh;
	
}
/* img {border:0;}  */				/*画像のボーダーを0にする*/

p {
	width:660px;		/*幅の指定*/
	margin:10px;		/*マージン*/
	text-indent:1em;	/*インデント幅*/
	padding-left: 1em;

}

/*============================================
ヘッダ
============================================*/
header {
	height:80px;				/*ヘッダ部分の高さ*/
    
}
.h1{
	display: flex;
}
.head{
	height: 70px;
	flex-direction: row;
	padding: 1%;
}

.logo{
	height: 70px;
}
.instagram{
	height: 70px;
}
/* header h1 a {text-decoration:none;	リンクの下線を無くす

	} */



/*============================================
ハンバーガーメニュー
============================================*/

.nav{
    position: fixed;
    top: 0;
	left: 100%;
	
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 右からスライド */
	transition: left 0.5s;
	z-index: 1;
	
  }
  .nav ul{
	
	list-style:none;
  }
  .nav li:not(:last-child){
    margin-bottom: 30px;
  }
  .nav a{
	text-decoration: none;
    color: #ffffff;
  }
  .nav a:hover{
	  color: burlywood;
  }
/* ナビゲーションボタン（開く） */
#navbtn{
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  
}

#navbtn::before,
#navbtn::after{
  content : '';
  display: block;
  height: 1px;
  background-color: #333333;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

#navbtn::before{
  transform: translateY(-10px);
  box-shadow: 0 10px #333333;
}

/* ナビゲーションボタン（閉じる） */
.open #navbtn{
  z-index: 100;
}
.open #navbtn::before{
  transform: rotate(-45deg);
  box-shadow: none;
}
.open #navbtn::after{
  transform: rotate(45deg);
  box-shadow: none;
}
/* ナビゲーションメニュー 開いた時*/
.open .nav{
  left: 0;
}




/*============================================
サブメニュー
============================================*/
ul{
	list-style: none;
}

#submenu {
	margin: 0px;
	list-style: none;
	overflow: hidden;
	
  }
   
  #submenu li {
	width: 25%;
	text-align: center;
	background-color: #FFF(255, 255, 255);
	float: left;
	height: 50px;
	line-height: 50px;
	position: relative;
	
  }
   
  #submenu li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	padding: 20px;
	
  }
  #submenu li a:hover{
	  color: brown;
  }

  .picture{
	  float: left;
	  width: 60%;
  }
/*============================================
インフォメーション（右カラム）
============================================*/
 #info{
	 float: right;
	 width: 40%;
	 
 }

h3 , .caption{
	font-size:14px;			/*文字サイズ*/
	width: auto;			/*横幅*/
	padding:10px 0px 10px 20px;		/*パディング*/
	background-color:#aa0505;		/*背景色*/
	color:#000;			/*文字色*/
	border-radius:3px;			/*角丸にする*/
}

p{
	width: auto;
}

hr{
	clear: both;
	width:auto;		/*幅の指定*/
	margin:10px 0px;		/*マージン*/
	border:1px dotted #cccccc;	/*内容の区切りをグレーの点線表示にする*/
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.type06 th {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table.type06 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}

th{
	width: 80px;
	height: 80px;
}


/*============================================
フッタ
============================================*/
#footer {
	clear:both;			/*回り込みを解除する*/
	height:40px;			/*高さの指定*/
	padding:10px 0px 0px 0px;	/*パディング*/
	font-size:x-small;		/*フォントサイズを小さくする*/
	text-align:center;		/*センタリング*/
	position: absolute;
	bottom: 0;
	
}




}





@media screen and (max-width: 640px) {
	/*============================================
	全般的なスタイル
	============================================*/
	* {
		margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
	}
	body {
	width:100%;			/*ページ全体の横幅*/
	background-color:#ffffff;	/*ページ全体の背景色*/
	background-image:none;		/*ウェブページ全体の背景画像を無しにする*/
	font-size:100%;			/* フォントサイズを100%にする */
	}
	div#pagebody {
	width:100%; margin:0 auto;	/*内容全体をセンタリング*/
	background-image:none;		/*コンテンツ全体の背景画像を無しにする*/
	background-repeat:no-repeat;	/*背景画像を繰り返さない*/
	}
	img {border:0;} 				/*画像のボーダーを0にする*/

	p {
		width:auto;		/*幅の指定*/
		margin:10px;		/*マージン*/
		text-indent:1em;	/*インデント幅*/
		padding-left: 1em;

	}
	.h1{
		display: flex;
	}
	.head{
		padding: 1%;
		flex-direction: row;
	}
    .logo{
    height: 35px;
    }
    .instagram{
	height: 35px;
    }






	/* html,body{
		overflow-x: hidden;
	  } */
	  .nav{
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.9);
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		/* 右からスライド */
		transition: left 0.5s;
	  }
	  .nav ul{
		list-style:none;
	  }
	  .nav li:not(:last-child){
		margin-bottom: 30px;
	  }
	  .nav a{
		color: #ffffff;
	  }
	
	/* ナビゲーションボタン（開く） */
	#navbtn{
	  position: fixed;
	  top: 15px;
	  right: 15px;
	  padding: 0;
	  outline: none;
	  border: none;
	  background: none;
	  width: 30px;
	  height: 20px;
	  cursor: pointer;
	}
	
	#navbtn::before,
	#navbtn::after{
	  content : '';
	  display: block;
	  height: 1px;
	  background-color: #333333;
	  transform: translateY(10px);
	  transition: 0.3s ease-in-out;
	}
	
	#navbtn::before{
	  transform: translateY(-10px);
	  box-shadow: 0 10px #333333;
	}
	
	/* ナビゲーションボタン（閉じる） */
	.open #navbtn{
	  z-index: 100;
	}
	.open #navbtn::before{
	  transform: rotate(-45deg);
	  box-shadow: none;
	}
	.open #navbtn::after{
	  transform: rotate(45deg);
	  box-shadow: none;
	}
	/* ナビゲーションメニュー 開いた時*/
	.open .nav{
	  left: 0;
	}

	ul{
		list-style: none;
	}
	
	#submenu {
		margin: 0px;
		list-style: none;
		overflow: hidden;
		
	  }
	   
	  #submenu li {
		width: 25%;
		text-align: center;
		background-color: #FFF(255, 255, 255);
		float: left;
		height: 50px;
		line-height: 50px;
		position: relative;
		
	  }
	   
	  #submenu li a {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-weight: bold;
		/* padding: 20px; */
		
		
	  }

     

	.picture{
	 flex-direction: column;
	 width: 100%;
	}
	#info{
		flex-direction: column;
		width: 100%;
	}
	h3 , .caption{
		font-size:14px;			/*文字サイズ*/
		width: auto;			/*横幅*/
		padding:10px 0px 10px 20px;		/*パディング*/
		background-color:#aa0505;		/*背景色*/
		color:#000;			/*文字色*/
		border-radius:3px;			/*角丸にする*/
	}
	
	p{
		width: auto;
	}
	
	hr{
		clear: both;
		width:auto;		/*幅の指定*/
		margin:10px 0px;		/*マージン*/
		border:1px dotted #cccccc;	/*内容の区切りをグレーの点線表示にする*/
	}
	
	table, th, td {
	  border-collapse: collapse;
	  border: 1px solid #ccc;
	  line-height: 1.5;
	}
	
	table.type06 th {
	  width: 100%;
	  padding: 10px;
	  font-weight: bold;
	  vertical-align: top;
	  background: #3f3f3f;
	  color: #ffffff;
	}
	table.type06 td {
	  width: 350px;
	  padding: 10px;
	  vertical-align: top;
	}
	
	th{
		width: 80px;
		height: 80px;
	}
	
	
	
	
	
	
	
}
